---
import BaseHead from '@/components/BaseHead'

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import { useTranslations, LOCALES, getLocalePaths, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);
const { title, description, image, articleDate } = Astro.props
const locale = Astro.currentLocale as Lang;
const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);

import Footer from "@/components/Footer";
import Header from "@/components/Header";
import Header2 from "@/components/Header2";
import LocaleSuggest from "@/components/i18n/LocaleSuggest";

import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'


---
<html class='scroll-smooth' lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
 
   <BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />

<ProviderTheme />
<ProviderAnimations />

</head>

<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
    
  
  <main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
  <LocaleSuggest />
    <Header2 />
    <Header />

    <!-- <main class="l-main l-content"> -->
      <slot />
    <Footer />
  </main>
  <style>
    body {
      margin-left: calc(100vw - 100%); /* prevent layout shift */
    }
  </style>
    { import.meta.env.DEV && <style>:root { scroll-behavior: auto }</style> }
  </body>
</html>