---
import BaseHead from "@/components/BaseHead"
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts"
import { useTranslations, LOCALES, type Lang } from "@/i18n"
import Footer from "@/components/layout/footer"
import LocaleSuggest from "@/components/i18n/LocaleSuggest"
import ProviderTheme from "@/components/ProviderTheme"
import ProviderAnimations from "@/components/ProviderAnimations"
import TailwindIndicator from "@/components/tailwind-indicator"
import Header from "@/components/HeaderNuevo"
import { Toaster } from "sonner"
import { cn } from "@/lib/utils"

interface Props {
  title?: string;
  image?: string;
  description?: string;
  articleDate?: string;
  mainClass?: string;
}

const { title, description, image, articleDate, mainClass } = Astro.props;
const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);
const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);
---

<html
  class="scroll-smooth min-h-screen flex flex-col"
  lang={LOCALES[locale].lang || locale}
  dir={LOCALES[locale].dir || null}
>
  <BaseHead
    title={title}
    description={description}
    ogImage={image}
    articleDate={articleDate}
  />
  <ProviderTheme />
  <ProviderAnimations />
  <body class="flex flex-col min-h-screen">
    <div class="flex flex-col min-h-screen">
      <LocaleSuggest />
      <Header className="border-b"/>
      <main class={cn("flex-1", mainClass)}>
        <div class="grid justify-center px-4">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <TailwindIndicator />
    <Toaster richColors client:only="react" />
  </body>
</html>